html
  head
    title= Login
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .admin-bg
      .centered-box
          if msg
            .message.is-danger
              .message-header Hmm, Things Didn't go as Planned
              .message-body= msg
          h1.title Login to Admin Portal
          form#login(name="login" method='POST')
            .field
              label.label(for='cnic',required) CNIC
              input.input(type='text',required, name='cnic')
            .field
              label.label(for='pw',required) Password
              input.input(type='password',required, name='password')
            .field.mt-5
              button.button.is-danger(type='submit', style='width: 100%; background-color:#404bad') Login
            p.has-text-centered.has-text-grey Not Signed Up Yet? #[a(href='/admin/signup') Signup]
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js")
    script(src='/javascripts/application.js' rel='javascript')
    script.
      document.login.onsubmit = (e)=>{
        e.preventDefault()
        submitForm('/admin/login', document.login, document.login.querySelector('button'), (success)=>{
          if (success) window.location = `/admin`
          else alert("Invalid Data Entered")
        })
      }