footer#footer.block
  .container
    nav.footer-nav.columns
      .menu.column
        h3.h3.menu-label Our Partners
        ul.nav.menu-list
          li.nav-item
            a.text-white.nav-link(href="#") BlaBlaBla
          li.nav-item
            a.text-white.nav-link(href="#") BlaBlaBla
          li.nav-item
            a.text-white.nav-link(href="#") BlaBlaBla
      .column.menu
        h3.h3.menu-label Subscribe to Our
        ul.nav.menu-list
          li.nav-item
            a.text-white.nav-link(href="#") News Letter
          li.nav-item
            a.text-white.nav-link(href="#") Monthly Updates
      .menu.column
        h3.h3.menu-label Check Out Our
        ul.nav.menu-list
          li.nav-item
            a.text-white.nav-link(href="#") Mobile App
  .copyright.has-text-centered
    small Copyright &copy; MAQ 2021
