extends layout

block content
  main(style="text-align: center")
    section#hero.block
      
        .hero.is-large
          .hero-body(style=`background: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/field_blog_entry_images/2020-02/adobestock_144255497.jpeg.jpg?itok=IivRnSvt") white center center; background-size: cover`)
            .has-text-centered.has-text-white.has-text-weight-bold.is-size-3.is-flex(style="max-width: 560px; align-items: center; margin: auto")
              p.blocked A place where YOU and I can come together to bring
              p.floated(style="font-size: 4em") Ease
    section#facts.bg-primary.block(style="max-width: 4").container
      h2.title About Us
      div.is-flex
        div.tabs(style='order: 2; flex: 1')
          ul(style='display: flex; flex-direction: column')
            li: a.title.is-active.is-4.js-toggle(data-toggle='#about-1') Who are we
            li: a.title.is-4.js-toggle(data-toggle='#about-2') Who are we for
            li: a.title.is-4.js-toggle(data-toggle='#about-3') What do we provide
    
        .tabs-content.is-5.title.is-flex(style='order: 1; flex: 1;align-items: center')
          #about-1.is-active We aim to provide students with education that can build a future for this country.
          #about-2.is-hidden Our target is university students that have the skillset that the industry needs and those that have the capacity to learn such skills.
          #about-3.is-hidden We provide students and companies with a platform where they can access each other easily.
    section#facts.bg-primary.block.container
      
        h2.title Facts
        .block.is-flex
          .p-5.box
            h3.title.is-3 186
            h4.title.is-6 Universities
          .p-5.box
            h3.title.is-3 1.6M
            h4.title.is-6 Enrollments
          .p-5.box
            h3.title.is-3 30%
            h4.title.is-6 Drop outs
          .p-5.box
            h3.title.is-3 #[small upto] 300K
            h4.title.is-6 Semester Fee
    section#mission.block.container
      
        h2.title Our Mission
        p.block(style='max-width: 560px; margin: auto') We aim to provide the students with an opportunity which doesn't let them lose any chance of standing tall in current highly volatile and rapidly growing market. We accknowledge that this is only possible by giving students a handson experience with the latest techinologies and ultimately letting them build skills that will later become the door to newer industry standard technologies.
    section#accomplishments.bg-primary.block.container
      
        h2.title Accomplishments
        .block.is-flex(style="text-align: center")
          .p-5.box
            h3.title.is-3 3
            h4.title.is-6 Students
          .p-5.box
            h3.title.is-3 1
            h4.title.is-6 Companies
          .p-5.box
            h3.title.is-3 0
            h4.title.is-6 Ngos
          .p-5.box
            h3.title.is-3 #[small Rs.] 200
            h4.title.is-6 Revenue
  section#contact.block.container
    
      h2.title Contact us
      form.centered-box.contact-form#contact-form(name="contact")
        .field
          label.label Email
          input.input(type="email",name="email")
        .field
          label.label Name
          input.input(type="text",required,name="name")
        .field
          label.label Phone
          input.input(type="tel",required,name="phone")
        .field
          label.label Comments
          textarea.textarea(name="comments")
        button.button.is-success(type="submit") Submit
  include footer.pug

  script.
    document.querySelectorAll('.js-toggle').forEach(e=>{
      e.addEventListener('click', ()=>{
        let elem = document.querySelector(e.getAttribute('data-toggle'))
        for (let c of elem.parentElement.children){
          if (c.classList.contains('is-active')){
            c.classList.remove('is-active')
            c.classList.add('is-hidden')
          }
        }
        elem.classList.add('is-active')
        elem.classList.remove('is-hidden')
      })
    })

