doctype html
html
  head
    title Connecthem - Company Profile
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css', type="text/css")
    link(href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap", rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous")
    block links
    
  body(class=bodyClass)
    include nav
    block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js")
    //- to convert html div into pdf
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js")
    //- dependecy for jspdf it converts html into a canvas
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js")
    script(src="/javascripts/application.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")
    script.
      let header = document.getElementsByTagName('header')[0]
      window.onscroll = ()=>{
        if (window.scrollY > 768){
          header.classList.add('scrolled')
        } else{
          header.classList.remove('scrolled')
        }
      }
    block scripts